@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-gradient-to-r from-cyan-200 to-cyan-100 md:px-8 px-4 py-1  md:py-2 text-white rounded-full hover:bg-gradient-to-r hover:from-cyan-100 hover:to-cyan-200 duration-700 transition-all ease-in-out font-bold text-xl flex items-center justify-center;
}

body {
  @apply duration-300 ease-in-out transition-all;
}


.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: toast-in-right 0.7s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
